sound-button {
  display: flex;
  flex: 1 1 auto;
  width: 50%;
}

.sound-button__text {
  margin: 0;
  padding: 20px;
  display: flex;
  flex: 1;
  align-items: center;
}

.sound-button__button {
  padding: 0;
  margin: 10px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  align-items: center;
  border-color: $dark;
  width: 50%;
}

.sound-button__button:hover {
  background-color: $calm;
}

.sound-button__progress {
  background-color: #203040;
  height: 10px;
  width: 100%;
}

.sound-button__bar {
  background-color: #777;
  height: 6px;
  margin: 2px;
  width: 0;
}


@media (max-width: $grid-responsive-sm-break) {
  .sound-button__button {
    width: 40%;
  }

  .sound-button__text {
    padding: 5px;
  }
}
